$borderSlideColor: #eaeaea;
@media (min-width: 768px) {
    .logo-of-companies__el_lg {
        display: none;
    }

    .logo-of-companies {
        display: flex;
        flex-wrap: wrap;
     justify-content: center;
        align-content: flex-start;
    }

    .logo-of-companies__el_sm {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $bgColorHeader;
        padding: 10px;
        border: 1px solid $borderSlideColor;
        border-radius: 6px;
        flex-basis: 28.5%;
        margin-bottom: $marginCommon;
        margin-right: 24px;
    }
    .logo-of-companies__el_click {
        display: none;
    }
    .logo-of-companies__el_hp-lg {
        display: none;
    }
    .logo-of-companies__el_bosch-lg {
        display: none;
    }
    .swiper-pagination {
        display: none;
    }
    .logo-of-companies__link-block_down {
        display: block;
        flex-basis: 83%;
        position: relative;
    }
    .pseudo-el-down::before {
        content: "";
        background-image: url(../img/down.svg);
        position: absolute;
        background-repeat: no-repeat;
        width: 50px;
        height: 40px;
        top: 5px;
        left: -20px;
        color: $colorMenuLink;
        font-weight: 500;
        font-size: 16px;
    }
    .logo-of-companies__link {
        text-decoration: none;
        color: #1b1c21;
        font-size: 16px;
        line-height: 24px;
        font-style: normal;
        position: relative;
    }
    .logo-of-companies__link:hover {
        text-decoration: underline;
    }
    .logo-of-companies__el_click {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        background-color: $bgColorHeader;
        padding: 10px;
        flex-basis: 28.5%;
        border-radius: 6px;
        margin-top: -10px;
        margin-right: 24px;
        border: 1px solid $borderSlideColor;
    }
    .logo-of-companies__el_thirth {
        margin-right:0;
    }
    .logo-of-companies__el_sixth {
        margin-right: 0;
    }
    .logo-of-companies__el_ninth {
        margin-right: 0;
    }
    .logo-of-companies__el_click-last {
        
        position: relative;
        left: -32%;
        
    }

    .logo-of-companies__link-block_up {
        flex-basis: 85%;
    }
    .pseudo-el-up::before {
        content: "";
        background-image: url(../img/down.svg);
        position: absolute;
        background-repeat: no-repeat;
        width: 50px;
        height: 40px;
        top: 5px;
        left: -20px;
        color: $colorMenuLink;
        font-weight: 500;
        font-size: 16px;
    }
    
}
