$colorServicesHeader: #7E7E82;

@media (min-width: 768px) {
    .prices {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
    }
    .prices__block {
        display: flex;
        flex-direction: row;
        height: auto;
        padding: 16px;
        margin-left: 24px;
        margin-right: 24px;
        border: 0;
        border-radius: 6px;
        position: relative;
       
    }
    .prices__block {
        height: auto !important;
        width: auto !important;
    }
    .prices__header {
        display: none;
    }
    .prices__text {
        margin-top: 0;
        align-self: center;
        width: auto;
        margin-bottom: 0;
    }
    .prices__text_main {
        flex-basis: 50%;
    }
    .prices__text_last {
        flex-basis: 30%;
    }
    .prices__text_time {
        margin: 0;
    }
    .prices__block_hr::after {
        content: "";
        width: 96%;
        height: 1px;
        background-color: #eaeaea;
        position: absolute;
        top: 63px;
    }
    .prices__block_first {
        order: -5;
    }
    .prices__block_second {
        order: -4;
    }
    .prices__block_thirth {
        order: -3;
    }
    .prices__text_main-diagnostic {
        flex-basis: 52%;
    }
    .prices__text_time-position {
        position: relative;
        left: -20px;
    }
    .prices-header {
        display: flex;
        margin-left: 40px;
        margin-right: 40px;
        justify-content: space-between;
        margin-top: 31px;
        margin-bottom: 16px;
    }
    .prices-header__block {
        display: flex;
        flex-basis: 43%;
        justify-content: space-between;
    }
    .prices-header__el_thirth {
        flex-basis: 70%;
    }
    .prices-header__el {
        margin: 0;
        opacity: 0.72;
        color: $colorServicesHeader;
    }
    .warn {
        flex-flow: row wrap;
        margin-left: 32px;
    }
    .warn__text {
        flex-basis: 50%;
    }
    .warn__link {
        flex-basis: 100%;
    }
    .footer {
        flex-direction: row;
        margin-left: 24px;
        margin-right: 24px;
        justify-content: space-between;
        align-items: flex-start;

    }
    .footer__text_year {
        margin-top: 0;
        text-align: left;
    }
    .footer__text_policy {
        flex-basis: 40%;
    }
}

@media (min-width: 1366px) {
    .prices__block {
        margin-right: 32px;
        margin-left: 32px;
    }
    .footer {
        margin-left: 352px;
        margin-right: 32px;
    }
}